{% extends 'base.html' %}
{% block content %}
<div class='col-sm-8 col-sm-offset-2 jumbotron text-center'>
<h1>Mero Serofero Nepal</h1>
<p class="lead" style="text-align:justify">
A web platform where a user can see a profile of a children in need (the children profile will be kept anonymous).  Indeed, it is public information. A person can create a profile in the site if interested in supporting someone. Children can have multiple needs, many users can team up to support a kids in a multitude of ways. For example, one can support financially, while another can give counseling! For the purpose of the thesis, this platform does not implement any payment system on behalf of the children profile. A user responsible to a particular children may ask question publicly regarding the situation (for example, is there this type of private school where I can have my kid enrolled within this budget?) which anyone can answer. In the beginning, it might sound like a forum, yet I intend to develop as much as possible to particularly tackle the situation that seems to be responded. 

But, Mero Serofero is more than a community parenting platform..................
<br />
.............
<br />
............
<br />
.........
</p>
</div>
{% endblock content %}
